# Adicionar seu usuario postgres em "user" e sua senha em "password"
# Trocar "meubanco" para o nome do seu banco de dados
# Alterar a chave caso necessite

DATABASE_URL="postgresql://user:password@localhost:5432/meubanco"
JWT_SECRET="sua-chave-secreta"