# Renomear arquivo para .env
# Trocar IP physical (usar IP do seu computador)
# Trocar IP emulator (usar IP do seu emulador)

API_URL_WEB=http://localhost:3000
API_URL_EMULATOR=http://10.0.0.0:3000
API_URL_PHYSICAL=http://192.168.1.1:3000